{% extends "base.html" %}

{%block content %}

<div class="row">
    <div class="col-md-6 d-flex justify-content-center">
        <img src="{{product.image.url}}" alt="" class="">
        <button class=" btn btn-primary" onclick=""><a href="{% url 'cart:cart_add' product.id %}"> Add to cart</a></button>
    </div>
    <div class="col-md-6">
        <div class="row ">
            <h1 class="p-4" style="font-weight: bold;">{{product.name}}</h1>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nostrum sed hic saepe excepturi atque amet quibusdam officia voluptatum repellat non cupiditate expedita recusandae qui adipisci, molestiae id accusantium?</h3>

            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nostrum sed hic saepe excepturi atque amet quibusdam officia voluptatum repellat non cupiditate expedita recusandae qui adipisci, molestiae id accusantium?</h3>
        </div>
        <div class="row p-4">
            <button class=" btn btn-primary" onclick=""><a href="{% url 'cart:cart_add' product.id %}"> Add to cart</a></button>
    
        </div>
    </div>
</div>

{%endblock%}