

{%extends "base.html"%}

{%block content %}
    <div class="row">
    <section id="parent" class="container">
        <section class="col-md-9" id="products">
            <div class="row">
                <div class="col-md-4 product px-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://lh3.googleusercontent.com/-bPmx5EumW3M8_yBPbsW-qvSPuBzBhvnbCpK7pcE3wLMIpWbkztN-ULA29T1ITnWyho-_ZaDX6STLTOh4x5il_UEG_tlhrayjQ=w671" alt="Card image cap">
                        <div class="card-footer">
                          <p>Phone</p>
                          <span class="secondary-text">399$</span>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 product px-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://lh3.googleusercontent.com/-bPmx5EumW3M8_yBPbsW-qvSPuBzBhvnbCpK7pcE3wLMIpWbkztN-ULA29T1ITnWyho-_ZaDX6STLTOh4x5il_UEG_tlhrayjQ=w671" alt="Card image cap">
                        <div class="card-footer">
                          <p>Phone</p>
                          <span class="secondary-text">399$</span>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 product px-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://lh3.googleusercontent.com/-bPmx5EumW3M8_yBPbsW-qvSPuBzBhvnbCpK7pcE3wLMIpWbkztN-ULA29T1ITnWyho-_ZaDX6STLTOh4x5il_UEG_tlhrayjQ=w671" alt="Card image cap">
                        <div class="card-footer">
                          <p>Phone</p>
                          <span class="secondary-text">399$</span>
                        </div>
                      </div>
                </div>
            </div>
        </section>
        <section class="col-md-3" id="sidebar">
            
        </section>
    </section>
</div>
{%endblock%}