
<!-- {%extends "base.html"%} -->
<!DOCTYPE html>     
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body id="" class ="general "style="background-color: #202124;">
    <!-- {%block content%} -->
        <section id="header" class="general" style="margin-right: 2%; margin-left: 2%; height: 100%; ">
            <div class="row justify-content-center" >
                <div id="exploreheader" class="col-md-8 bg-black general text-light white-border ">
                    <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 3rem;" >Watch and explore</h2>
                    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 1.5rem;">Catch this year's keynotes, technical sessions, and on-demand learning sessions. </p>
            </div>
                    <div id="speakers" class="col-md-2 bg-light general" style="background-color: bl;">
                   
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta hic dolores molestias quis vel, fuga quae blanditiis, a ex voluptate, accusamus eius cumque beatae. Ipsam nesciunt impedit nobis reprehenderit optio.    
                    </div>
                    </div>
                    
        </section>

    <!-- {%endblock%} -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>